<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Head content as needed -->
</head>

<body>
    <section id="main" class="main-wrapper">
        <div class="container">
            <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <% books.forEach(book => { %>
                    <div data-book-id="<%= book.id %>" class="book_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
                        <div class="book">
                            <a href="http://localhost:3000/book/<%= book.id %>">
                                <img src="./books-page_files/<%= book.id %>.jpg" alt="<%= book.title %>">
                                <div data-title="<%= book.title %>" class="blockI" style="height: 46px;">
                                    <div data-book-title="<%= book.title %>" class="title size_text"><%= book.title %></div>
                                    <div data-book-author="<%= book.author %>" class="author"><%= book.author %></div>
                                </div>
                            </a>
                            <a href="http://localhost:3000/book/<%= book.id %>">
                                <button type="button" class="details btn btn-success">Читать</button>
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <!-- Other HTML content as needed -->

</body>

</html>
